.DS_Store
GameModule/__pycache__/
GameModule/IDA_painting/data/qrcode.png
GameModule/venv/
ManagementModule/server/node_modules
ManagementModule/server/portraitguess.sqlite
ManagementModule/server/package-lock.json
ManagementModule/web/img/*
WebServer/server/node_modules
WebServer/server/package-lock.json

WebServer/web/frame/node_modules
/WebServer/web/frame/src/data/qrcode.png
/Frame_Web/static/build
