<!DOCTYPE html>
<html lang="en">
<head>
    <% include partials/meta.html %>
    <script type="text/javascript" src="/js/pending.js"></script>
</head>
<body>
    <% include partials/modal.html %>
    <% include partials/navbar.html %>
    <div class="row">
        <div class="col-md-2"></div>
        <div class="col-md-8">
            <h2 class="center top">待審檔案</h2>
            <br>
            <div class="table-responsive">
                <table id="pending_table" class="table table-hover myborder"></table>
            </div>
        </div>
    </div>
</body>
</html>
