{% extends "base.html" %}

{% block head %}
{{ super() }}
<link href="{{ url_for('static', filename='css/homepage.css') }}" rel="stylesheet">
<script type="text/javascript" src="{{ url_for('static', filename='js/socket.io.js') }}"></script>
<script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
<script src="https://iottalk.github.io/iottalk-js/dan2.js"></script>
<script type="text/javascript" src="{{ url_for('static', filename='js/index.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='js/dai.js') }}"></script>
{% endblock %}

{% block scripts %}
{{ super() }}
{% endblock %}